@font-face {
  font-family: Evolventa;
  src:
    local('Evolventa'),
    url('../fonts/Evolventa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Involve';
  src: url('../fonts/Involve-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Involve';
  src: url('../fonts/Involve-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Involve';
  src: url('../fonts/Involve-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px green solid;*/
  list-style: none;
  font-family: 'Evolventa';
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.title--hero {
  font-family: 'Involve', sans-serif;
  font-size: 120px;
  font-weight: 500;
}

.title--heading {
  font-family: 'Involve', sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
}
.text--subheading {
  font-family: 'Involve', sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
}
.text--body-large {
  font-family: 'Evolventa', sans-serif;
  font-size: 1.5rem;
}
.text--body-small {
  font-family: 'Evolventa', sans-serif;
  font-size: 1rem;
}

body {
  min-width: 320px;
  background-color: #0c0d12;
  color: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header__logo-image {
  height: 2.625rem;
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 26px 0 130px;
}

.menu__list {
  display: flex;
  gap: 6.56rem;
  align-items: center;
}

.menu__item {
  color: rgba(255, 255, 255, 0.6);
}

.menu__item:active {
  color: rgba(255, 255, 255, 0.3);
}

.menu__access-btn {
  background: #0c0d12;
  border: 1px #ffffff solid;
  border-radius: 1.125rem;
  padding: 1.125rem 1.5rem;
  margin-left: 2.8rem;
  color: #ffffff;

  cursor: pointer;

  width: fit-content;
}

.menu__access-btn:hover {
  background: #f706a3;
  color: #ffffff;
  border: 1px #0c0d12 solid;
}

.menu__access-btn:active {
  background: #ca0078;
  color: #0c0d12;
  border: 1px #0c0d12 solid;
}

.menu__access-btn:disabled {
  background: rgba(202, 0, 120, 0.3);
  color: rgba(12, 13, 18, 0.3);
  border: 1px #0c0d12 solid;
}

.header__burger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.header__close {
  display: none;
}

.header__menu--open .header__close {
  display: block;
  align-self: flex-end;
}

.hero {
  display: flex;
  justify-content: space-between;
  /*flex-wrap: wrap;*/
  margin-bottom: 96px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.hero__picture {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.hero__title {
  line-height: 1;
}

.title__accent {
  background: linear-gradient(90deg, #f706a3 0%, #5a73ef 65%, #81f3f8 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  display: inline-block;
}

.hero__text {
  margin: 1.875rem 0 4.5rem;
}

.button {
  border: none;
  border-radius: 1.125rem;
  padding: 1.125rem 1.5rem;
  cursor: pointer;
  width: fit-content;
}

.button--primary {
  background: #ca0078;
  color: #ffffff;
}

.button--primary:hover {
  background: #ffffff;
  color: #0c0d12;
  box-shadow: 0 0 30px rgba(247, 6, 163, 0.8);
}

.button--primary:active {
  background: #ffffff;
  color: #0c0d12;
  box-shadow: none;
}

.button--primary:disabled {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(12, 13, 18, 0.3);
}

.button--primary:disabled:hover {
  box-shadow: none;
}

.hero__button {
  min-width: 21rem;
}

.advantages {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 5rem;
  overflow: hidden;
}

.advantages__title {
  line-height: 0.95;
  text-align: center;
  position: relative;
  z-index: 1;
}

.advantages__text {
  text-align: center;
  margin: 24px auto 96px;
}
.advantages__text--accent {
  color: #f706a3;
}
.advantages__bg-text {
  font-family: 'Involve', sans-serif;
  font-weight: 700;
  font-size: 213px;

  line-height: 0.5;
  text-align: center;

  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);

  position: absolute;
  top: 14rem;
  left: 50%;

  transform: translateX(-50%);

  z-index: -1;
  pointer-events: none;
  user-select: none;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
  max-width: 930px;
}

.advantage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;

  background-color: #161524;
  padding: 1.875rem;
  border-radius: 1.125rem;

  width: calc((100% - 30px) / 2);
}

.advantage__picture {
  width: 3rem;
}

/*pop-up*/

.popup__overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup._hidden {
  display: none;
}

.popup__close {
  position: absolute;
  top: 30px;
  right: 60px;

  width: 24px;
  height: 24px;

  background: transparent;
  border: none;
  cursor: pointer;
}

.popup__close::before,
.popup__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  width: 1.5rem;
  height: 1px;

  background: white;
  transform-origin: center;
}

.popup__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close:active {
  opacity: 0.6;
}

.popup__content {
  position: relative;
  z-index: 1;

  width: 90%;
  max-width: 688px;
  max-height: 760px;

  background: #161524;
  padding: 84px 60px 60px 60px;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.popup__picture {
  width: 359px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}
.popup__input {
  background: #1b1a2c;
  border: #1b1a2c 1px solid;
  border-radius: 1.125rem;
  padding: 1.125rem 1.5rem;
  width: 35.5rem;
  color: rgba(255, 255, 255, 0.4);
  position: relative;

  width: 100%;
}

.popup__input:focus {
  outline: none;
  border: 1px solid #81f3f8;
  caret-color: #81f3f8;
}

.popup__input:not(:placeholder-shown):invalid {
  outline: none;
  border: 1px solid #f706a3;
  caret-color: #f706a3;
}

.popup__error {
  position: absolute;
  bottom: 7.6rem;
  display: none;
  color: #f706a3;
}

.popup__input:not(:placeholder-shown):invalid + .popup__error {
  display: block;
}
.popup__button {
  width: 100%;
}

/**/
@media (max-width: 920px) {
  .header__burger {
    display: block;
  }

  .header__menu {
    display: none;
  }

  .header__menu--open {
    display: block;
  }

  .menu__list {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .menu__access-btn {
    margin-left: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;

    padding: 30px 30px 90px 30px;
  }
}

@media (max-width: 1199px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__content {
    align-items: center;
  }

  .hero__picture {
    margin-bottom: 40px;
  }

  .hero__button {
    align-self: center;
  }

  .header {
    display: flex;
    justify-content: space-between;

    padding: 30px 30px 90px 30px;
  }
}

/*mobile*/
@media (max-width: 640px) {
  .title--hero {
    font-family: 'Involve', sans-serif;
    font-size: 52px;
    font-weight: 500;
  }

  .title--heading {
    font-family: 'Involve', sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
  }
  .text--subheading {
    font-family: 'Involve', sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
  }
  .text--body-large {
    font-family: 'Evolventa', sans-serif;
    font-size: 1rem;
  }
  .text--body-small {
    font-family: 'Evolventa', sans-serif;
    font-size: 0.75rem;
  }

  .header__burger {
    display: block;
  }

  .header__menu {
    position: fixed;
    inset: 0;
    background: #0c0d12;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    padding: 30px;
    z-index: 1000;
  }

  .header__menu--open {
    display: flex;
  }

  .header__close {
    align-self: flex-end;

    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
  }

  .menu__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.menu__item {
  width: 100%;
  text-align: center;
}


  .header {
    display: flex;
    justify-content: space-between;

    padding: 30px;
  }

  .hero {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero__content {
    align-items: flex-start;
    text-align: left;
  }

  .hero__picture {
    width: 100%;
    max-width: 300px;
    height: auto;
    align-self: center;
  }

  .hero__button {
    align-self: center;
    min-width: 300px;
  }

  .advantages__list {
    flex-direction: column;
    align-items: center;
  }

  .advantage {
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
  }

  .popup__content {
    width: 90%;
    max-width: 280px;

    padding: 48px 15px 15px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .popup__picture {
    width: 100%;
    max-width: 170px;
  }

  .popup__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .popup__input,
  .popup__button {
    width: 100%;
    min-width: unset;
    border-radius: 9px;
    padding: 12px 14px;
  }

  .popup__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup__close {
    top: 15px;
    right: 15px;

    width: 18px;
    height: 18px;
  }

  .popup__error {
    bottom: 3.75rem;
  }
}
